.pb60 {
    padding-bottom: 60px
}

.about-bg {
    background: url(../img/about.html);
    background-size: auto auto;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 510px;
    content: "";
    width: 90%;
    background-size: cover
}

.yellow-color {
    color: #0080db
}

.yel-col {
    background-color: #ff9800
}

.call-to-action-left {
    color: #fff
}

.p-tb20 {
    padding-bottom: 20px;
    padding-top: 20px
}

.m-b10 {
    margin-bottom: 10px
}

.font-weight-600 {
    font-weight: 600
}

.call-to-action-right {
    text-align: right
}

.p-tb30 {
    padding-bottom: 30px;
    padding-top: 30px
}

#howorks {
    position: relative;
    padding-bottom: 300px
}

@media only screen and (max-width:769px) {
    #howorks {
        padding-bottom: 350px
    }
}

@media only screen and (max-width:576px) {
    #howorks {
        padding-bottom: 100px
    }
}

.bg-feature {
    background-color: #0a0a0a5c
}

#howorks .heading {
    padding: 60px 0 20px
}

.heading h2 {
    margin: 10px 0 20px 0
}

.seperator {
    width: 50px;
    border-color: #638d38 !important
}

.work-wrap {
    margin-top: -60px;
    position: absolute;
    width: 100%;
    height: 100%
}

.work-inner-box {
    text-align: center
}

.work-icon {
    border: 11px solid#0b0e12a8;
    background: #0f181e
}

.icon-lg {
    font-size: 70px;
    color: #222
}

.icon-box {
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 0 auto;
    border-radius: 100%;
    line-height: 125px;
    margin-bottom: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

.heading {
    width: 60%;
    margin-bottom: 70px !important
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
    float: none
}

.work-icon img {
    width: 50px;
    margin: 0 auto;
    padding-bottom: 20px
}

.work-inner-box h4 {
    margin-bottom: 10px
}

.bg-bottom-right {
    background-position: bottom right
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.p-t80 {
    padding-top: 80px
}

.wt-box,
.wt-info,
.wt-tilte,
.wt-tilte-inner {
    position: relative
}

.wt-box,
.wt-info,
.wt-tilte,
.wt-tilte-inner {
    position: relative
}

.p-b80 {
    padding-bottom: 80px
}

.section-head {
    margin-bottom: 50px
}

.wt-title-subline {
    display: block;
    letter-spacing: 6px
}

.section-head h1,
.section-head h2,
.section-head h3 {
    margin-top: 0
}

.wt-separator-outer {
    overflow: hidden
}

.wt-box,
.wt-info,
.wt-tilte,
.wt-tilte-inner {
    position: relative
}

.wt-left-part,
.wt-right-part {
    width: 560px
}

@media only screen and (max-width:1200px) {
    .wt-left-part,
    .wt-right-part {
        width: 100%
    }
}

@media only screen and (max-width:991px) {
    .home-about-section .wt-right-part {
        margin-top: 30px;
        padding-right: 0;
        text-align: center
    }
}

@media only screen and (max-width:991px) {
    .home-about-section .wt-box.text-right,
    .home-about-section .wt-right-part .section-head.text-left {
        text-align: center !important
    }
}

@media (max-width:576px) {
    .work-wrap {
        margin-top: 60px;
        position: relative
    }
}

.site-button,
.site-button-secondry {
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    margin-left: -1px;
    text-decoration: none !important
}

#counter-wrap {
    background: url(../img/parallax-bg.jpg) fixed 50% 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 50px 0 70px;
    position: relative
}

#stellarTest {
    background: url(../img/parallax-bg.jpg) fixed 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px 0 70px;
    position: relative;
    animation: animatedBackground 55s linear infinite alternate;
    -webkit-animation: animatedBackground 55s linear infinite alternate;
    -moz-animation: animatedBackground 55s linear infinite alternate;
    -o-animation: animatedBackground 55s linear infinite alternate
}

@media only screen and (max-width:991px) {
    #stellarTest {
        -webkit-background-size: auto;
        background-size: auto
    }
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.single-project-complete {
    margin-top: 30px;
    text-align: center
}

.single-project-complete i {
    font-size: 50px;
    color: #0080db
}

.single-project-complete h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff
}

.single-project-complete h2 {
    font-size: 40px;
    font-weight: 800
}

.counter-num {
    color: #fff
}

section {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none
}

a,
a:active,
a:focus {
    color: #6f6f6f;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    max-width: 100%;
    height: auto
}

.main-title {
    margin-bottom: 50px;
    text-align: center
}

.main-title h1 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px
}

.main-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px
}

.main-title p {
    font-size: 18px;
    margin-bottom: 0
}

.pricing {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 9;
    box-shadow: 0 0 35px rgba(0, 0, 0, .1)
}

.pricing .price-header {
    width: 100%;
    background: #0080db;
    padding: 35px 20px
}

.pricing .price-header .title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: #fff
}

.pricing .price-header .price {
    font-weight: 600;
    margin: 0;
    color: #fff
}

.pricing .content {
    padding: 20px 20px 30px;
    background: #f9f9f9
}

.pricing .content ul {
    margin: 0 0 20px
}

.pricing .content ul li {
    padding: 8px 0;
    font-size: 16px;
    color: #656565
}

.pricing.featured .listing-badges {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 100px
}

.pricing.featured .featured {
    float: left;
    transform: rotate(-45deg);
    left: -67px;
    top: 17px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    font-weight: 500;
    color: #fff
}

.pricing.featured .featured {
    background: #0080db
}

.btn-outline {
    border: solid 1px #0080db;
    color: #0080db
}

.btn-outline:hover {
    border: solid 1px #0080db;
    background: #0080db;
    color: #fff
}

.button-theme {
    background: #0080db;
    color: #fff !important
}

.button-theme:hover {
    background: #0080db;
    color: #fff
}

.pricing-btn {
    padding: 7px 25px 5px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase
}

.preloader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff
}

.logo-loader {
    position: absolute;
    top: 50%;
    left: 44vw
}

.TickerNews {
    width: 100%;
    height: 50px !important;
    line-height: 48px
}

.ti_wrapper {
    width: 100%;
    position: relative;
    overflow: hidden
}

.ti_slide {
    width: 30000px;
    position: relative;
    left: 0;
    top: 0
}

.ti_content {
    width: 8000px;
    position: relative;
    float: left
}

.ti_news {
    float: left
}

.ti_news a {
    display: block;
    margin-right: 10px;
    text-decoration: none
}

.ti_news a span:nth-child(2) {
    color: #fff
}

.ti_news a img {
    padding: 0 10px
}

.ti_news a:hover {
    animation-play-state: paused
}

details {
    transition: 0.25s;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2.25rem;
    border: 1px solid silver
}

summary {
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    outline: none
}

summary:after {
    padding: 0.5rem;
    position: absolute;
    right: 0.25rem;
    top: -0.5rem;
    color: whitesmoke
}

details[open] {
    background: black
}

details[open] summary {
    color: dimgrey
}

details[open] summary:after {}

.goog-logo-link {
    display: none !important
}

.goog-te-gadget {
    color: transparent !important
}

.auth-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif
}

.fgp a {
    text-decoration: none;
    text-transform: capitalize;
    color: #9d6c1b;
    font-size: 0.8rem
}

.fgp a:hover,
a:focus {
    color: #db9314
}

.login-container {
    display: flex;
    justify-content: center
}

.login-form {
    width: 450px;
    background: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 2px 7px 8px rgba(0, 0, 0, .3);
    border-radius: 3px;
    color: #aaa9a7;
    text-align: center
}

.title {
    margin-bottom: 1rem
}

.input-field {
    width: 100%;
    padding: 0;
    margin: 0
}

.input-field input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #7c848c;
    border-bottom: 1px solid #0080db;
    padding: 0.6rem
}

.input-field input:focus {
    border-color: #0080db
}

.input {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem
}

input[type="checkbox"] {
    background: transparent;
    padding: 1rem
}

.terms {
    font-size: 0.7rem;
    margin-top: 1rem;
    padding: 0 3rem
}

.terms strong {
    text-decoration: underline;
    cursor: pointer
}

.btn {
    padding: 0.7rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    filter: brightness(1)
}

.login {
    background: #0080db
}

.create {
    width: 100%;
    font-weight: normal
}

.btn:hover {
    filter: brightness(0.8);
    box-shadow: 2px 5px 8px rgba(0, 0, 0, .2)
}

.new-user {
    margin-top: 1rem
}

.new-user p {
    padding-bottom: 0.5rem;
    font-size: 0.8rem
}

@media screen and (max-width:500px) {
    .login-form {
        width: 350px;
        margin: 1rem
    }
    .terms {
        padding: 0
    }
}

@media screen and (max-width:350px) {
    .login-form {
        width: 85%;
        margin: 1rem
    }
    .terms {
        padding: 0
    }
}

@media only screen and (max-width:576px) {
    #particles-js {
        height: 700px !important
    }
    .inner-slider {
        top: 250px !important
    }
}

canvas {
    display: block;
    vertical-align: bottom
}

#particles-js {
    width: 100%;
    height: 900px;
    background-color: #000000
}

.inner-slider {
    position: absolute;
    top: 214px;
    left: 10%;
    color: #fff;
    width: 80%
}

.inner-slider .exp {
    position: absolute;
    display: none
}

.active {
    display: block !important
}

.inner-slider h1 {
    font-size: 50px;
    font-weight: 700
}

.inner-slider p {
    font-size: 17px;
    font-weight: 500;
    line-height: 30px
}

.inner-slider a {
    width: 120px
}